
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

$hammer : 'Hammersmith One', sans-serif;
$playfair : 'Playfair Display', serif;
$roboto : 'Roboto', sans-serif;

$cyan : #00e0d0;
$default : #413d4b;
$white : #fff;
//default styles start
body {
    font-size: 16px;
    font-family: $roboto;
    color: $default;
}

p {
    line-height: 25px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 75px 10px;
}

.btn{
    border: 2px solid $cyan;
    background: none;
    border-radius: 3px;
    color: $cyan;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;

    &:hover {
        border-color: $white;
        color: $white;
    }
}
.shape{
    height: 2px;
    width: 50px;
    background: rgba(51, 51, 51, 0.384);
    text-align: center;
    margin: 25px auto;

}

.title{
    font-family: $playfair;
    font-weight: bold;
    font-size: 22px;
    color:$default;
    text-transform: uppercase;
    margin: 10px 0;
}
//default styles end
//header start
header {
    min-height: 670px;
    background-position: center center; 
    background-size: cover;

    .header {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                img {
                    width: 100%;
                }
            }

            #menu {
                display: flex;
                justify-content: space-between;
                flex-basis: 600px;
                li {
                    list-style-type: none;
                    a {
                        font-weight: bold;
                        text-decoration: none;
                        color: $white;
                        text-transform: uppercase;

                        &.menu_active {
                            color: $cyan;
                        }

                        &:hover {
                            color: $cyan;
                        }
                    }
                }
            }

            .mobile-menu-btn {
                display: none;
                cursor: pointer;
                svg {
                    width: 30px;
                    height: 30px;
                    fill: $white;
                }
            }

            @media screen and (max-width: 810px) {
                #menu {
                    flex-basis: 550px;
                    font-size: 15px;
                }
            }

            @media screen and (max-width: 768px) {
                .mobile-menu-btn {
                    display: block;
                }
                #menu {
                    display: none;
                }
            }
        }

        .about_slider {
            max-width: 1100px;
            margin: 190px auto auto auto;
            .owl-carousel {

                .about-item {
                    color: $white;
                    text-align: center;
                    h3 {
                        font-family: $playfair;
                        font-size: 32px;
                        margin-bottom: 60px;
                    }

                    p {
                        font-weight: 300;
                        margin-bottom: 60px;
                    }

                    
                }

                .owl-dots {
                    display: flex;
                    justify-content: center;
                    margin: 120px auto;

                    .owl-dot {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: transparent;
                        border: 1px solid $white;
                        font-size: 20px;
                        margin-right: 15px;


                        &.active {
                            background: $cyan;
                            border-color: $cyan;
                        }
                    }
                }
            }
        }
    }
}
//header end

//main start

//about start
    .about{
        display: flex;
        justify-content: center;
        .about-left{
          flex-basis: 28%;
        }
        .about-right{
            flex-basis: 52%;
            margin: 0 40px;
           
            p{
                font-size: 14px;
                font-family: $roboto;
                margin-bottom: 35px;
            }
            button{
                &:hover{
                    color:$white;
                    background:$cyan;
                }
            }
           
        }
        @media screen and (max-width: 920px ){
            flex-direction: column;
            
        }
       
    }

    .our-story-video{
        min-height: 550px;
        width: 100%;
        background-position: center center; 
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        button{
            background: none;
            border:none;
            cursor: pointer;
            &:hover{
                opacity: 0.7;
            }
        }
        h3{
            font-family: $roboto;
            font-size: 16px;
            color: $white;
            text-transform: uppercase;
            text-align: center;
            margin-top: 30px;
        }
        @media screen and (max-width: 800px ){
            min-height: 350px;
        }
        @media screen and (max-width: 520px ){
            min-height: 250px;
        }
    }  
  
//about end

//expertise start
    .expertise{
        text-align: center;
       .expertise-box{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
           .expertise-item{
                flex-basis: 32%;
                padding: 0 50px;
                img{
                    margin: 40px 0;
                }
                h3{
                    font-size: 14px;
                    margin-bottom: 25px;
                    text-transform: uppercase;
                }
                p{
                    margin-bottom: 45px;
                    color: #333333cc;
                }

                @media screen and (max-width: 960px ){
                    flex-basis: 50%;
                    padding:0 25px;
                } 
                @media screen and (max-width: 480px ){
                    flex-basis: 100%;
                }
           }
       }
    }
//expertise end

//our team start
.team{
    background-position: center center; 
    background-size: cover;
    .team-box{
        text-align: center;
        .shape{
            background: $white;
        }
        h2{
            color: $white;
        }
        p{
            color: $white;
            margin-bottom: 30px;
        }
        .best_team{
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            margin-top: 40px;
            margin-bottom: 75px;
            div{
                border: 1px solid $white;
                flex-basis: 20%;
                margin-right:18px;
                margin-bottom: 20px;
                h3{
                    color: $white;
                    font-size: 14px;
                    text-transform: uppercase;
                    margin: 20px 0 12px;
                }
                img{
                    width: 100%;
                }
                
                p{
                    font-size: 13px;
                    text-transform: uppercase;
                    margin-bottom: 24px;
                    opacity: 0.8;
                    &:hover{
                        color: grey;
                    }
                }
                @media screen and (max-width: 721px ){
                    flex-basis: 45%;
                }
                @media screen and (max-width: 425px ){
                    flex-basis: 80%;
                    margin-right: 0;
                }

            }
        }
    }

}

//our team end

 //our works start
 .our_works{
    display: flex;
    flex-flow: column;
    div{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .our-works-title{
            align-items: center;
            a{
                color: $default;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        @media screen and (max-width: 500px ){
            flex-direction: column;
        }
    }
    .works{
        display: flex;
        flex-flow: wrap;
        img{
            width: 100px;
            flex-basis: 16.66666%; 
            @media screen and (max-width: 950px ){
                flex-basis: 20%;
            }
            @media screen and (max-width: 850px ){
                flex-basis: 25%;
            }
            @media screen and (max-width: 600px ){
                flex-basis: 33.3333%;
            }
            @media screen and (max-width: 400px ){
                flex-basis: 50%;
            }
            
        }
    }
    button{
        max-width: 150px;
        margin:70px auto;
        &:hover{
            color:$white;
            background:$cyan;
        }
    }
    
}
//our works end


//testimonials start
.testimonials{
    background-position: center center; 
    background-size: cover;
    .testimonial{

        .info{
            span{
                color: $white;
                font-size: 100px;
                font-family: $playfair;
            }
            .about{
                color: $white;
                font-family: $playfair;
                line-height: 30px;
                font-size: 16px;
                max-width: 100%;
                margin-bottom: 50px;
                    @media screen and (max-width: 700px){
                        max-width: 90%;
                        margin: 0 auto;
                        text-align: justify;
                        margin-bottom: 15px;
                    }
            }
            h3{
                color: $white;
                font-family: $roboto;
                text-transform: uppercase;
                font-size: 14px;
                margin-bottom: 15px;
            }
            p{
                color: $white;
                font-family: $roboto;
                text-transform: uppercase;
                font-size: 13px;
                margin-bottom: 55px;
            }
            
        }

        .owl-carousel{
            margin: 0 auto;
            max-width: 770px;
            text-align: center;
            position: relative;
            
            
            .owl-dots {
                max-width: 400px;
                margin: 0 auto; 
                height: 100%;
            

                .owl-dot{
                    
                    z-index: 555;
                    background-size:100%;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    font-size: 20px;
                    margin: 0 10px;
                     span{
                        background: none;
                    }
                  
                    &.active {
                        transform: scale(1.45); 
                    } 
                }
                .owl-dot:nth-child(1){
                    background-image:url('../img/member1.png');
                }
                .owl-dot:nth-child(2){
                    background-image:url('../img/member2.png');
                }
                .owl-dot:nth-child(3){
                    background-image:url('../img/member3.png');
                }
                .owl-dot:nth-child(4){
                    background-image:url('../img/member4.png');
                }
                .owl-dot:nth-child(5){
                    background-image:url('../img/member5.png');
                }

                @media screen and (max-width: 550px ){
                    max-width: 300px;
                    .owl-dot{
                        width: 35px;
                        height: 35px;
                        margin: 0 10px;
                    }
                }
                @media screen and (max-width: 360px ){
                    .owl-dot{
                        width: 25px;
                        height: 25px;
                        margin: 0 3.5px;
                    }
                }

                
            }
            
            .owl-prev {
                width: 15px;
                position: absolute;
                display: block;
                bottom: -5px;
                left: 10%;
                color: $white;
                font-size: 45px;
                @media screen and (max-width: 550px ){
                    left: 2%;
                }
                @media screen and (max-width: 360px ){
                    bottom: -13px
                }
            }
            
            .owl-next {
                width: 15px;
                position: absolute;
                bottom: -5px;
                right: 10%;
                display: block ;
                color: $white;
                font-size: 45px;
                @media screen and (max-width: 550px ){
                    right: 2%;
                }
                @media screen and (max-width: 360px ){
                    bottom: -13px
                }
            
        }   }
        
    }   
}

//testimonials end

.contacts{
    display: flex;
    justify-content: space-between;
    .contact-form{
        width: 90%;
        flex-basis: 45%;   
        form{
            display: flex;
            flex-direction: column;
            input{
                height: 50px;
                border:1px solid rgba(51, 51, 51, 0.200);
                margin-bottom: 20px;
                padding: 10px;
                &:nth-child(4){
                    height: 200px;
                }
            }
            button{
                max-width:130px;
                margin-bottom: 70px;
                &:hover{
                    color:$white;
                    background:$cyan;
                }
            }
        }
    }
    .our-clients{
        flex-basis: 45%;
        h2{
            margin-bottom: 25px;
        }
        img{
            margin-bottom: 20px;
            margin-right: 40px;
        }
    }
}  
    @media screen and (max-width: 900px ){
        .contacts{
            flex-flow: column ;
            align-items: center;
            text-align: center;

        }
    }   

//contacts end

//main end


//footer start
footer{
    background-position: center center; 
    background-size: cover;
    .footer{
        .footer-block{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around; 
            p{
                color: $white;
                font-size: 14px;
                font-family: $roboto;
                margin-bottom: 20px;
                position: relative;
                svg{
                    position:absolute;
                    left: -20px;
                }
            }
            h2{
                color: $white;
                font-family: $roboto;
                font-size: 15px;
                text-transform: uppercase;
                margin-bottom: 50px;
            }
            
            .footer-about{
                flex-basis: 30%;
                margin-bottom: 50px;
                img{
                    margin-bottom: 20px;
                }
                
            }
            .footer-contact{
                flex-basis: 30%;
                margin-bottom: 50px;
                p{
                    display: inline-block;
                    color: $white;
                    font-size: 14px;
                    font-family: $roboto;
                }
            
            }
            .footer-social{
                flex-basis: 30%;
                margin-bottom: 50px;
                text-align: center;
                form{
                    display: flex;
                    margin-bottom: 50px;
                    justify-content: center;
                    input{
                        border: 0.5px solid $white;
                        background:none;
                        color: $white;
                        height: 51px;
                        padding:10px ;
                        margin: 2px;
                        &::placeholder{
                            color: $white;
                        }
                    }
                    button{
                        opacity: 0.5;
                        cursor: pointer;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
                a:hover{
                    opacity: 0.8;
                }
            }
            @media screen and (max-width: 800px ){

                .footer-about{
                    flex-basis: 43%;    
                    
                }
                .footer-contact{
                    flex-basis: 43%;
                
                }
                .footer-social{
                    flex-basis: 43%;
                }
            }
            @media screen and (max-width: 550px ){
                justify-content: center;
                align-items: center;
                text-align: center;
                .footer-about{
                    flex-basis: 80%;    
                }
                .footer-contact{
                    flex-basis: 80%;
                
                }
                .footer-social{
                    flex-basis: 80%;
                    justify-content: center;
                }
            }
        }
    }
    .footer-end{
        display: flex;
        justify-content: space-between;
        a{
            color:$white;
            font-size: 14px;
            font-family: $roboto;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 20px;
            &:hover{
                text-decoration: underline;
            }
        }
        p{
            color: $white;
            font-size: 14px;
            font-family: $roboto;
            margin-bottom: 30px;
            margin-right: 150px;
        }
        @media screen and (max-width: 650px ){
            flex-direction: column;
            align-items: center;
            a{
                margin: 0px 5px;
            }
            p{margin:10px 0;}
        }
    }
}
//footer end